.action {
  display: none;
}

@media (min-width: $tablet-width) {
  .action {
    @include wrapper($tablet-width);
    justify-content: flex-end;
    padding-left: $padding-side;
    padding-right: $padding-side;
  }

  .action__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    padding-top: 95px;
    padding-bottom: 50px;
    width: 310px;
  }

  .action__link {
    font-size: 14px;
    line-height: 30px;
    color: $color-font-accent;
    text-decoration: underline;
  }

  .action__content {
    margin: 0;
    margin-bottom: 8px;
    line-height: 24px;
  }

  .action__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .action {
    @include wrapper($desktop-width);
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;
  }

  .action__wrapper {
    width: 570px;
    padding-bottom: 115px;
  }

  .action__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .action__title br {
    display: none;
  }

  .action__content {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .action__link {
    font-size: 18px;
  }
}
