.action {
  display: none;
}

@media (min-width: $tablet-width) {
  .action {
    position: relative;

    @include wrapper($tablet-width);
    flex-direction: row;
    justify-content: space-between;
    padding-left: $padding-side;
    padding-right: $padding-side;
  }

  .action__image-wrapper {
    padding-top: 60px;

    &::before {
      position: absolute;
      content: "";
      width: 205px;
      height: 205px;
      top: 116px;
      left: 37px;
      background: url("../img/icon-editor-diagram-fill.svg") no-repeat;
    }

    &::after {
      position: absolute;
      content: "24";
      top: 145px;
      left: 85px;
      font-size: 96px;
      font-weight: bold;
      color: $color-font-accent;
    }
  }

  .action__image {
    width: 240px;
    height: 280px;
    fill: $color-timer;
  }

  .action__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 95px;
    padding-bottom: 50px;
    width: 310px;
  }

  .action__link {
    font-size: 14px;
    line-height: 30px;
    color: $color-font-accent;
    text-decoration: underline;
  }

  .action__content {
    width: 310px;
    margin: 0;
    margin-bottom: 8px;
    line-height: 24px;
  }

  .action__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .action {
    @include wrapper($desktop-width);
    flex-direction: row;
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;
  }

  .action__wrapper {
    width: 570px;
    padding-bottom: 115px;
  }

  .action__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .action__title br {
    display: none;
  }

  .action__content {
    width: 570px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .action__link {
    font-size: 18px;
  }

  .action__image-wrapper {
    padding-top: 0;

    &::before {
      width: 250px;
      height: 250px;
      top: 70px;
      left: 35px;
    }

    &::after {
      top: 110px;
      left: 90px;
      font-size: 120px;
    }
  }

  .action__image {
    width: 300px;
    height: 347px;
  }
}
