.advantages {
  position: relative;

  @include wrapper($mobile-width);
  padding-left: $padding-side;
  padding-right: $padding-side;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/iphone-screen-mobile@1x.png");
    bottom: 0;
    left: 50%;
    margin-left: -78px;
    width: 156px;
    height: 275px;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;

  @include lt-st-reset;
  padding-top: 80px;
  padding-bottom: 285px;
}

.advantages__item {
  text-align: center;
  margin-bottom: 33px;
}

.advantages__title {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: $color-dark;
}

.advantages__content {
  color: $color-secondary;
  line-height: 24px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    @include wrapper($tablet-width);

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      bottom: 0;
      left: 20px;
      margin: 0;
      width: 270px;
      height: 485px;
      background-size: cover;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
      z-index: 3;
    }
  }

  .advantages__list {
    padding: 25px 0 45px;
    margin-left: auto;
    width: 310px;
  }

  .advantages__item {
    text-align: left;
    margin-bottom: 36px;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }

  .advantages__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: $color-dark;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    @include wrapper($desktop-width);
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;

    &::after {
      display: none;
    }
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 260px;
    padding-bottom: 30px;
    margin: 0;
    width: auto;
  }

  .advantages__item {
    position: relative;
    width: 290px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;

    &:nth-of-type(n)::before {
      position: absolute;
      content: "";
      top: -355px;
      left: 0;
      width: 290px;
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 3;
    }

    &:nth-of-type(1)::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &:nth-of-type(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &:nth-of-type(3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .advantages__content {
    font-size: 18px;
    line-height: 30px;
  }
}
