.comments {
  width: 100%;
}

.comments__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
}

.comments__list {
  @include lt-st-reset;
  text-align: center;
}

.comments__item {
}

.comments__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $color-dark;
}

.comments__content {
  margin: 0 0 25px;
  line-height: 30px;
}

.comments__info {
  display: none;
}

.comments__toggles {
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  .comments__wrapper {
    max-width: $tablet-width;
  }

  .comments__info {
    display: block;
  }

  .comments__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
  }

  .comments__content {
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .comments__wrapper {
    max-width: $desktop-width;
    padding-left: 120px;
    padding-right: 120px;
  }
}
