.comment {
  padding: 33px 20px;
  border: none;
}

.comment__title {
  @include review-title;
}

.comment__content {
  padding: 16px 20px 18px;
  border: 2px solid $color-11;
  box-sizing: border-box;

  @include placeholder {
    color: $color-3;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: $font-family, "Helvetica", "Arial", "Verdana", "Tahoma", sans-serif;
  }
}
