.comments {
  @include wrapper($mobile-width);
  padding-left: $padding-side;
  padding-right: $padding-side;
}

.comments__list {
  position: relative;
  @include lt-st-reset;
  padding-top: 45px;
  text-align: center;
}

.comments__title {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $color-dark;
}

.comments__content {
  margin: 0 0 27px;
  line-height: 30px;
}

.comments__info {
  display: none;
}

.comments__toggles {
  margin: 0 auto;
  padding-bottom: 65px;
}

.comments__buttons {
  display: none;
}

@media (min-width: $tablet-width) {
  .comments {
    @include wrapper($tablet-width);
  }

  .comments__list {
    padding-top: 75px;
  }

  .comments__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
  }

  .comments__title {
    font-size: 20px;
    margin-bottom: 0;
  }

  .comments__content {
    order: -1;
    margin-bottom: 34px;
  }

  .comments__info {
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .comments__toggles {
    padding-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .comments {
    @include wrapper($desktop-width);
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;
  }

  .comments__list {
    padding-top: 185px;
    padding-bottom: 120px;
  }

  .comments__title {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .comments__content {
    font-size: 18px;
    margin-bottom: 36px;
  }

  .comments__item {
    position: relative;
    padding-left: 125px;
    padding-right: 125px;
  }

  .comments__info {
    font-size: 18px;
    margin-bottom: 0;
  }

  .comments__toggles {
    display: none;
  }

  .comments__button-left {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 45px;
    background: red;
  }

  .comments__button-right {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 45px;
    background: red;
  }
}
