.contacts {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: $temporary;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
}

.contacts__item:not(:last-child) {
  padding-bottom: 28px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
}

.contacts__info {
  font-size: 24px;
  font-weight: 300;
  color: $color-font-accent;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__title {
    margin-bottom: 20px;
  }
}

@media (min-width: 996px) {
  .contacts__item:nth-child(2) {
    order: 2;
  }
}
