.contacts {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
}

.contacts__info {
  font-size: 24px;
  font-weight: 300;
  color: $color-font-accent;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__title {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding: 0 102px;
  }

  .contacts__item:nth-child(2) {
    order: 2;
  }
}
