.copyright {
  margin: 0;
  padding-right: 40px;
  line-height: 18px;
  color: $color-secondary;
}

.copyright__comment {
  color: $color-secondary;
  line-height: 40px;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .copyright__comment {
    font-size: 18px;
  }
}
