.downloads {
  background-color: $color-bg-download;
}

.downloads__wrapper-top {
  width: 100%;
}

.downloads__wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.downloads__title {
  display: none;
}

.downloads__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include lt-st-reset;
  margin-bottom: 25px;
}

.downloads__link-store {
  display: block;
  width: 47px;
  height: 56px;
  background-color: red;
}

.downloads__item:not(:last-child) {
  margin-right: 35px;
}

.downloads__btn-wrapper {
  margin-bottom: 32px;
}

.downloads__button {
  display: block;
  width: 280px;
}

.downloads__info {
  margin: 0;
  color: $color-primary;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: $tablet-width) {
  .downloads {
    background-color: transparent;
  }

  .downloads__wrapper-top {
    position: absolute;
    margin-top: -565px;
  }

  .downloads__wrapper-inner {
    width: 300px;
  }

  .downloads__title {
    display: flex;
    margin-bottom: 30px;
    padding-left: 55px;
    padding-right: 45px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    text-align: center;
    color: $color-primary;
  }

  .downloads__button {
    display: block;
    width: 300px;
  }

  .downloads__btn-wrapper {
    margin-bottom: 46px;
  }

  .downloads__list {
    margin-bottom: 36px;
  }

  .downloads__info {
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .downloads__wrapper-top {
    padding: 0;
    max-width: $desktop-width;
  }

  .downloads__info {
    margin-bottom: 125px;
  }

  .downloads__title {
    font-size: 50px;
    line-height: 60px;
  }

  .downloads__btn-wrapper {
    width: 300px;
  }
}
