.downloads {
  width: 100%;
  background: $color-bg-download;
}

.downloads__wrapper {
  position: relative;

  @include wrapper($mobile-width);
  align-items: center;
  padding-top: 27px;
  padding-bottom: 30px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/iphone-hand-mobile@1x.png");
    bottom: 270px;
    left: 0;
    width: 260px;
    height: 290px;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }
  }
}

.downloads__title {
  display: none;
  margin: 0;
}

.downloads__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include lt-st-reset;
  margin-bottom: 15px;
}

.downloads__item:not(:last-child) {
  margin-right: 35px;
}

.downloads__btn-wrapper {
  margin-bottom: 32px;
}

.downloads__button {
  display: block;
  width: 280px;

  &:hover {
    background-color: $color-primary;
    color: $color-font-accent;
  }

  &:active {
    background-color: $color-primary;
    color: $color-font-accent;
  }

  &:active span {
    opacity: 0.3;
  }
}

.downloads__info {
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  width: 320px;
  color: $color-primary;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .downloads {
    position: relative;

    @include wrapper($tablet-width);
    padding-left: $padding-side;
    padding-right: $padding-side;
    background: transparent;
    z-index: 3;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/iphone-hand-tablet@1x.png");
      bottom: 0;
      right: $padding-side;
      width: 660px;
      height: 545px;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
      }
      z-index: 0;
    }
  }

  .downloads__wrapper {
    position: absolute;
    width: 300px;
    left: $padding-side;
    bottom: 80px;

    &::before {
      display: none;
    }
  }

  .downloads__title {
    display: flex;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: 300px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    text-align: center;
    color: $color-primary;
  }

  .downloads__button {
    width: 300px;
  }

  .downloads__btn-wrapper {
    margin-bottom: 46px;
  }

  .downloads__list {
    margin-bottom: 30px;
  }

  .downloads__info {
    width: 300px;
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .downloads {
    margin-top: 200px;

    @include wrapper($desktop-width);
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;

    &::before {
      background-image: url("../img/iphone-hand-desktop@1x.png");
      bottom: -5px;
      right: 0;
      width: 595px;
      height: 650px;
      background-position: 70% 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
      }
    }
  }

  .downloads__wrapper {
    left: $padding-side-desktop;
    bottom: 95px;
  }

  .downloads__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  .downloads__btn-wrapper {
    width: 300px;
    margin-bottom: 70px;
  }

  .downloads__list {
    margin-bottom: 50px;
  }

  .downloads__info {
    margin-bottom: 0;
  }

  .downloads__button {
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 12px;
  }
}
