.effects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include lt-st-reset;
}

.effects__img {
  display: block;
  width: 44px;
  height: 44px;
  background: red;
}

.effects__filter {
  display: none;
}

@media (min-width: $tablet-width) {
  .effects {
    flex-direction: column;
  }

  .effects__filter {
    display: flex;
  }

  .effects__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 275px;
    height: 70px;
    padding-right: 18px;
    border-bottom: 1px solid $color-btn-reset;
  }

  .effects__img {
    display: block;
    width: 22px;
    height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .effects__img {
    display: block;
    width: 44px;
    height: 44px;
    background: red;
  }

  .effects__item {
    width: 410px;
    padding-right: 30px;
  }
}

