.effects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include lt-st-reset;
  margin-bottom: 40px;
}

.effects__item {
  margin-right: 35px;
}

.effects__item--last {
  margin-right: 0;
}

.effects__img {
  display: block;
  width: 44px;
  height: 44px;
  background: red;
}

@media (min-width: $tablet-width) {
  .effects {
    flex-direction: column;
  }

  .effects__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid $color-btn-reset;
  }

  .effects__item--top {
    padding-top: 7px;
  }

  .effects__img {
    width: 22px;
    height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .effects__item {
    width: 410px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .effects__item--top {
    padding-top: 0;
  }

  .effects__img {
    width: 44px;
    height: 44px;
    background: red;
  }
}
