.filter {
  position: relative;
  width: 100%;
  height: 2px;
  background: $color-dark;

  &--right {
    display: none;
  }
}

.filter__pin {
  position: absolute;
  left: 83%;
  bottom: 50%;
  margin-bottom: -7px;
  width: 14px;
  height: 14px;
  background: $color-primary;
  border: 2px solid $color-font-accent;
  border-radius: 50%;

  &:active {
    background: $color-font-accent;
  }
}

@media (min-width: $tablet-width) {
  .filter {
    width: 204px;

    &--right {
      display: flex;
    }

    &--bottom {
      display: none;
    }

    &--crop .filter__pin {
      left: 75%;
    }

    &--fill .filter__pin {
      left: 16%;
    }

    &--contrast .filter__pin {
      left: 51%;
    }
  }
}

@media (min-width: $desktop-width) {
  .filter {
    width: 288px;
  }
}
