.filter {
  width: 100%;
  height: 2px;
  background: $color-dark;
}

.filter--right {
  display: none;
}

@media (min-width: $tablet-width) {
  .filter {
    width: 80%;
  }

  .filter--right {
    display: flex;
  }

  .filter--bottom {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    width: 288px;
  }
}
