.footer-index {
  width: 100%;
  padding-top: 45px;
  text-align: center;
  border: 2px solid red;
}

.footer-index__title {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  font-weight: 300;
  font-size: 24px;
  color: $color-3;
  line-height: 30px;
}

.footer-index__contacts {
  padding: 0;
}
