.gallery-card {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.gallery-card__wrapper {
  display: flex;
  flex-direction: column;
  padding: 17px 17px 21px;
  margin: 0;
  text-align: left;
  background-color: darken($color-primary, 5.1);
}

.gallery-card__wrapper--top {
  padding-right: 10px;
}

.gallery-card__image {
  width: 280px;
  height: 180px;
}

.gallery-card__author {
  font-weight: 700;
  line-height: 24px;
}

.gallery-card__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.gallery-card__comment {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
}

.gallery-card__likes {
  padding: 0 32px;
  color: $color-font-accent;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .gallery-card {
    width: 300px;
  }

  .gallery-card:first-child {
    width: $tablet-width;
  }

  .gallery-card__image {
    width: 100%;
    height: 300px;
  }

  .gallery-card__wrapper {
    flex-grow: 1;
    min-height: 155px;
    padding: 25px 27px 22px;
  }

  .gallery-card__wrapper--top {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: auto;
    justify-content: space-between;
    padding: 23px 27px 15px;
  }

  .gallery-card__info--top {
    order: -2;
  }

  .gallery-card__comment {
    flex-grow: 1;
    margin-bottom: 12px;
  }

  .gallery-card__comment--top {
    margin-bottom: 10px;
  }

  .gallery-card__likes {
    padding-left: 0;
    padding-right: 0;
  }

  .gallery-card__likes--top {
    padding-right: 32px;
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .gallery-card:first-child {
    width: $desktop-width;
  }

  .gallery-card__image {
    height: 400px;
  }
}
