.gallery__wrapper {
  @include wrapper($mobile-width);
  padding-left: $padding-side;
  padding-right: $padding-side;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
}

.gallery__slogan {
  text-align: center;
  margin: 0;
  padding: 32px 15px 37px;
  line-height: 30px;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include lt-st-reset;
}

.gallery__image-top-wrapper {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.gallery__image-label {
  height: 0;
  width: $mobile-width - 2 * $padding-side;
  position: relative;
  margin: 0 auto;
  padding: 0;

  &::before {
    position: absolute;
    content: "";
    width: 140px;
    height: 35px;
    top: 0;
    right: 0;
    background-color: $color-font-accent;
  }

  &::after {
    position: absolute;
    content: "панорама дня";
    width: 140px;
    height: 35px;
    top: 8px;
    right: 0;
    text-transform: uppercase;
    color: $color-primary;
    text-align: center;
    z-index: 10;
  }
}

.gallery__image-top {
  display: block;
  width: 100%;
  height: auto;
}

.gallery__image-note {
  width: 280px;
  margin: 0 auto;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 140px;
    height: 36px;
    top: 0;
    right: 0;
    background-color: $color-font-accent;
  }
}

.gallery__footer {
  margin: 0;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 43px;
  line-height: 30px;
}

.gallery__item {
  margin: 0 0 20px;
}

@media (min-width: $tablet-width) {
  .gallery__wrapper {
    @include wrapper($tablet-width);
  }

  .gallery__image-label {
    width: $tablet-width - 2 * $padding-side;

    &::before {
      top: 58px;
    }

    &::after {
      top: 65px;
    }
  }

  .gallery__item {
    &--top {
      margin-bottom: 50px;
    }

    &:nth-child(n+2):nth-child(2n) {
      margin-right: 20px;
    }
  }

  .gallery__slogan {
    text-align: center;
    margin: 0;
    font-size: 18px;
    padding: 77px 45px 57px;
    line-height: 30px;
  }

  .gallery__list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .gallery__footer {
    font-size: 18px;
    padding: 47px 30px 70px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__wrapper {
    @include wrapper($desktop-width);
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;
  }

  .gallery__image-label {
    width: $desktop-width - 2 * $padding-side-desktop;

    &::before {
      top: 55px;
    }

    &::after {
      top: 62px;
    }
  }

  .gallery__slogan {
    padding: 75px 150px 70px;
  }

  .gallery__item {
    &:not(:first-child) {
      margin-bottom: 55px;
    }

    &:nth-child(n+2):nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(n+2):nth-child(3n) {
      margin-right: 20px;
    }

    &:nth-child(n+2):nth-child(3n-1) {
      margin-right: 20px;
    }
  }

  .gallery__footer {
    padding: 5px 30px 65px;
  }
}
