.map {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

.map__inner {
  height: 220px;
  width: 100%;
  z-index: 0;
}

.map__marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background: yellow;
}

@media (min-width: $tablet-width) {
  .map__inner {
    height: 375px;
  }
}

@media (min-width: $desktop-width) {
  .map__inner {
    height: 502px;
  }
}
