.navigation {
  padding: 0;
  margin: 0;
  z-index: 5;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  @include lt-st-reset;
  flex-wrap: wrap;
  z-index: 2;
}

.navigation__item {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 20px;
  background-color: $color-secondary;
  border-top: 1px solid $color-nav-border;
  border-bottom: 1px solid $color-dark;
}

.navigation__link {
  color: $color-primary;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

@media (min-width: $desktop-width) {
  .navigation {
    display: flex;
    width: 645px;
  }

  .navigation__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navigation__item {
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .navigation__link {
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: none;
    font-weight: 400;
  }
}
