.page-header {
  width: 100%;
  min-height: 462px;
  padding-bottom: 20px;
  background: $color-secondary url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
}

.page-header--photo {
  min-height: 237px;
}

.page-header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: $height-top-mobile;
  padding-right: 22px;
  padding-left: 22px;
  background-color: $color-header;
  z-index: 3;
}
.page-header__navigation {
  z-index: 3;
}

.page-header__top--nav {
  min-height: 63px;
  background-color: $color-secondary;
  border-bottom: 1px solid $color-nav-border;
} /*Находим и отключаем в js*/

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-header__title {
  text-align: center;
  padding: 0 45px;
}

.page-header__title-tag {
  font-size: 24px;
  color: $color-primary;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 730px;
    background: $color-secondary url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: column;
    border: $temporary;
  }

  .page-header--photo {
    min-height: 440px;
  }

  .page-header__title {
    padding: 0 85px;
  }

  .page-header__title-tag {
    font-size: 50px;
  }

  .page-header__top {
    min-height: $height-top;
  }

  .page-header__top--nav {
    min-height: 63px;
  } /*Находим и отключаем в js*/
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 853px;
    background: $color-secondary url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .page-header__title {
    padding: 0 185px;
  }

  .page-header--photo {
    min-height: 395px;
  }

  .page-header__wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .page-header__back {
    width: 100%;
    background: $color-header;
  }

  .page-header__top {
    background-color: transparent;
  }

  .page-header__trigger {
    display: none;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 130px;
    padding-left: 130px;
    margin: 0 auto;
    max-width: $desktop-width;
    z-index: 1;
  }
}
/*
.page-header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-height: $height-top-mobile;
  z-index: 1;
}

.page-header__logo {
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .page-header__top {
    min-height: $height-top;
  }
}



/*.page-header {
  display: flex;
  flex-direction: column;
  border: $temporary;
  width: 100%;
  background-color: red;
  z-index: 2;
}

.page-header__back {
  width: 100%;
  margin-top: -$height-top-mobile;
  min-height: 462px;
  background-color: $color-bg-download;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.page-header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
  width: auto;
  min-height: $height-top-mobile;

  z-index: 1;
}

.page-header__logo {
  margin-right: auto;
}

.page-header__navigation {
  margin: 0;
  padding: 0;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .page-header__top {
    min-height: $height-top;
  }

  .page-header__back {
    min-height: 759px;
    margin-top: -$height-top;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    flex-direction: column;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1200px;
    padding-right: 130px;
    padding-left: 130px;
    background-color: $color-header;
    z-index: 1;
  }

  .page-header__top {
    display: flex;
    width: 277px;
    padding-left: 130px;
    background: transparent;
  }

  .page-header__trigger {
    display: none;
  }

  .page-header__back {
    min-height: 853px;
  }
}

.page-header--photo,
.page-header--form {
  min-height: 237px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 320px auto;
  background-position: 50% 0;
}
*/
