.page-content {
  min-width: $mobile-width;
}

.page-content__wrapper {
  width: 100%;
}

.page-content__wrapper--downloads {
  display: flex;
  margin-top: -$height-top-mobile;
}

.page-content__wrapper--advantages,
.page-content__wrapper--plans,
.page-content__wrapper--upload-photo {
  background-color: $color-bg-form;
}

.page-content__back {
  min-height: 733px;
  background: $color-secondary url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
}

.page-content__back--photo,
.page-content__back--form {
  margin-top: -$height-top-mobile;
  padding-top: 100px;
  min-height: 238px;
}

.page-content__slogan {
  @include wrapper($mobile-width);
}

.page-content__title {
  @include wrapper($mobile-width);
  padding-left: $padding-side;
  padding-right: $padding-side;
}

.page-content__title-tag {
  margin: 0;
  padding-left: 45px;
  padding-right: 45px;
  line-height: 30px;
  font-size: 24px;
  color: $color-primary;
  font-weight: 300;
  text-align: center;
}

.page-content__plans {
  width: 100%;
  background: darken($color-primary, 5.1);
}

@media (min-width: $tablet-width) {
  .page-content {
    margin-top: -$height-top;
  }

  .page-content__back {
    min-height: 730px;
    background: $color-secondary url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: 50% 50%;
  }

  .page-content__back--photo,
  .page-content__back--form {
    padding-top: 145px;
    min-height: 440px;
  }

  .page-content__title {
    @include wrapper($tablet-width);
  }

  .page-content__title-tag {
    padding-top: 40px;
    padding-left: 90px;
    padding-right: 90px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-content__wrapper--action {
    background-color: $color-bg-form;
  }

  .page-content__back {
    min-height: 853px;
    background: $color-secondary url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-position: 50% 50%;
  }

  .page-content__back--photo,
  .page-content__back--form {
    padding-top: 140px;
    min-height: 393px;
  }

  .page-content__title {
    @include wrapper($desktop-width);
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;
  }

  .page-content__title-tag {
    padding-top: 30px;
    padding-left: 250px;
    padding-right: 250px;
  }
}
