.page-content {
  margin-top: -$height-top-mobile;
  width: 100%;
}

.page-content__wrapper {
  @include wrapper($mobile-width);
  overflow: hidden;
}

.page-content__back {
  min-height: 462px;
  background: $color-secondary url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
}

.page-content__back--index {
  position: relative;
}

.page-content__back--photo,
.page-content__back--form {
  padding-top: 80px;
  min-height: 237px;
}

.page-content__downloads {
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-content__title {
  padding-left: 45px;
  padding-right: 45px;
  line-height: 30px;
  text-align: center;
  font-size: 24px;
  color: $color-primary;
  font-weight: 300;
}

.page-content__title--form {
  padding-left: 40px;
  padding-right: 40px;
}

.page-content__plans {
  width: 100%;
  background: darken($color-primary, 5.1);
}

@media (min-width: $tablet-width) {
  .page-content {
    margin-top: -$height-top;
  }

  .page-content__wrapper {
    @include wrapper($tablet-width);
    margin-bottom: 50px;
  }

  .page-content__wrapper--form {
    padding-left: $padding-side;
    padding-right: $padding-side;
  }

  .page-content__back {
    min-height: 730px;
    background: $color-secondary url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: 50% 50%;
  }

  .page-content__back--photo,
  .page-content__back--form {
    padding-top: 145px;
    min-height: 440px;
  }

  .page-content__title {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: $color-primary;
    font-weight: 300;
  }

  .page-content__downloads {
    left: $padding-side;
    bottom: 110px;
  }
}

@media (min-width: $desktop-width) {
  .page-content__wrapper {
    @include wrapper($desktop-width);
  }

  .page-content__wrapper--form {
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;
  }

  .page-content__back {
    min-height: 853px;
    background: $color-secondary url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-position: 50% 50%;
  }

  .page-content__back--photo,
  .page-content__back--form {
    padding-top: 140px;
    min-height: 393px;
  }

  .page-content__title--photo {
    padding-left: 400px;
    padding-right: 400px;
  }

  .page-content__title--form {
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;
  }

  .page-content__downloads {
    left: $padding-side-desktop;
    bottom: 125px;
  }
}
