.page-header {
  width: 100%;
  min-height: 462px;
  min-width: $mobile-width;
  padding-bottom: 20px;
  background: $color-secondary url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
}

.page-header--photo {
  min-height: 237px;
}

.page-header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: $height-top-mobile;
  padding-right: 22px;
  padding-left: 22px;
  background-color: $color-header;
  z-index: 3;
}

.page-header__navigation {
  z-index: 3;
}

.page-header__top--nav {
  min-height: 70px;
  background-color: $color-secondary;
  border-bottom: 1px solid $color-dark;
} /*Находим и отключаем в js*/

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-header__title {
  text-align: center;
  padding: 0 45px;
}

.page-header__title-tag {
  font-size: 24px;
  color: $color-primary;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 729px;
    background: $color-secondary url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .page-header--photo {
    min-height: 440px;
  }

  .page-header__title {
    padding: 0 85px;
  }

  .page-header__title-tag {
    font-size: 50px;
  }

  .page-header__top {
    min-height: $height-top;
  }

  .page-header__top--nav {
    min-height: $height-top;
  } /*Находим и отключаем в js*/
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 853px;
    background: $color-secondary url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .page-header__title {
    padding: 0 185px;
  }

  .page-header--photo {
    min-height: 395px;
  }

  .page-header__back {
    background: $color-header;
  }

  .page-header__top {
    width: 147px;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    border-bottom: none;
  }

  .page-header__trigger {
    display: none;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 130px;
    padding-left: 130px;
    width: 100%;
    margin: 0 auto;
    max-width: $desktop-width;
    z-index: 1;
  }
}
