.personal-info {
  margin: 0;
  padding: 18px 20px 18px;
  border: none;
  background: $color-1;
  border: none;
}

.personal-info__block:not(:last-child) {
  margin-bottom: 18px;
}

.personal-info__label {
  color: $color-6;
  text-transform: uppercase;
}

.personal-info__field {
  padding: 24px 20px 18px;
  border: 2px solid $color-11;
  box-sizing: border-box;
  @include placeholder {
    color: $color-3;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}

.personal-info__title {
  @include review-title;
}
