.plans {
  @include wrapper(100%);
  align-items: center;
  padding-left: $padding-side;
  padding-right: $padding-side;
  overflow: hidden;
}

.plans__list {
  @include lt-st-reset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 35px;
  padding-top: 90px;
}

.plans__item {
  position: relative;

  &--extra {
    display: none;
  }

  &--hit::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 74px;
    height: 73px;
    background: url("../img/bg-hit.svg") no-repeat;
    z-index: 2;
  }

  &--hit::after {
    position: absolute;
    content: "хит";
    left: 10px;
    top: 20px;
    transform: rotate(-45deg);
    width: 20px;
    height: 20px;
    color: $color-primary;
    text-transform: uppercase;
    z-index: 3;
  }
}

.plan__column {
  width: 275px;
  border-collapse: collapse;
}

.plans__row {
  display: flex;
  flex-direction: column;
  color: $color-secondary;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.plan__header {
  background: $color-secondary;
}

.plan__title {
  padding-top: 16px;
  padding-bottom: 18px;
  color: $color-primary;
  text-transform: uppercase;
  font-size: 18px;
  border: 2px solid $color-secondary;
  line-height: 30px;
  font-weight: 700;
  text-align: center;

  &--first {
    border-right: 2px solid $color-input-border;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &--last {
    border-left: 2px solid $color-input-border;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.plan__price {
  font-weight: 300;
  font-size: 24px;
}

.plan__cell {
  position: relative;
  padding: 0 70px 0 22px;
  width: 276px;
  height: 61px;
  background: $color-primary;
  text-align: left;
  border-bottom: 2px solid $color-input-border;

  &--incl::after {
    position: absolute;
    content: "";
    right: 17px;
    top: 40%;
    width: 30px;
    height: 22px;
    background: url("../img/icon-yes.svg") no-repeat;
  }

  &--not-incl::after {
    position: absolute;
    content: "";
    right: 17px;
    top: 30%;
    width: 28px;
    height: 26px;
    background: url("../img/icon-no.svg") no-repeat;
  }
}

.plan__comment {
  text-transform: uppercase;
}

.plans__toggles {
  margin: 0 auto;
  padding-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .plans {
    @include wrapper($tablet-width);
  }

  .plans__list {
    margin-bottom: 0;
    padding-top: 38px;
    padding-bottom: 70px;
  }

  .plans__item {
    &--extra {
      display: flex;
      margin-top: auto;
    }

    &:not(:first-child) .plan__comment {
      display: none;
    }

    &--hit::before {
      width: 61px;
      height: 61px;
      background: url("../img/bg-hit-tablet.svg") no-repeat;
    }

    &--hit::after {
      left: 8px;
      top: 12px;
    }
  }

  .plan__column {
    width: 155px;
    border: 2px solid $color-input-border;
    border-right: none;
  }

  .plan__column--last {
    border-right: 2px solid $color-input-border;
  }

  .plans__toggles {
    display: none;
  }

  .plan__cell {
    padding: 0 15px;
    height: 47px;
  }

  .plan__title {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
  }

  .plan__price {
    font-size: 18px;
  }

  .plan__comment {
    text-transform: none;
  }
}

@media (min-width: $desktop-width) {
  .plans {
    @include wrapper($desktop-width);
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;
  }

  .plans__item {
    &--hit::before {
      width: 73px;
      height: 73px;
      background: url("../img/bg-hit.svg") no-repeat;
    }

    &--hit::after {
      left: 10px;
      top: 20px;
    }
  }

  .plans__list {
    padding-top: 70px;
    padding-bottom: 95px;
  }

  .plan__column {
    width: 235px;
  }

  .plan__cell {
    padding: 0 20px;
    height: 61px;
  }

  .plan__title {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 18px;
  }

  .plan__comment {
    font-size: 18px;
  }

  .plan__price {
    font-size: 24px;
  }
}
