.review {
  display: flex;
  flex-direction: column;
}

.review__header {
  padding: 45px 20px 20px;
  margin: 0;
  text-align: center;
  line-height: 30px;
}

.review__form-title {
  display: none;
}

.review__title {
  padding-left: 20px;
  padding-right: 20px;

  @include review-title;
}

.review__title--contacts {
  display: none;
}

.review__title--achivements {
  padding-top: 40px;
  margin-bottom: 45px;
}

.review__title--app {
  padding-top: 40px;
  padding-bottom: 40px;
}

.review__title--comment {
  padding-top: 40px;
  padding-bottom: 15px;
}

.review__set {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  width: 100%;
  border: none;
}

.review__set--personal-info {
  padding-bottom: 40px;
}

.review__set--achivements {
  padding-bottom: 55px;
}

.review__set--contacts {
  padding-top: 30px;
  padding-bottom: 40px;
}

.review__set--app {
  padding-bottom: 50px;
}

.review__set--comment {
  padding-bottom: 55px;
}

.review__block {
  display: flex;
  flex-direction: column;
}


.review__contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.review__contact:last-child {
  padding-bottom: 0;
}

.review__block:not(:last-child) {
  margin-bottom: 15px;
}

.review__list {
  @include lt-st-reset;
}

.review__item {
  position: relative;
}

.review__item:not(:last-child) {
  margin-bottom: 57px;
}

.review__item-app:not(:last-child) {
  margin-bottom: 50px;
}

.review__item-app {
  width: 100%;
}

.review__menu-item {
  position: relative;
  padding-left: 66px;
  font-size: 18px;
}

.review__form {
  display: flex;
  flex-direction: column;
}

.review__label {
  padding-left: 20px;
  color: $color-font-accent;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 5px;
}

.review__field,
.review__content {
  width: 100%;
  border: 2px solid $color-input-border;

  @include placeholder {
    color: $color-secondary;
    font-size: 18px;
    font-weight: 400;
  }
}

.review__field {
  padding: 25px 20px 20px;
}

.review__content {
  padding: 20px 20px;
}

.review__mark {
  display: none;
}

.review__wrapper:nth-child(even) {
  background: $color-bg-form;
}

.review__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.review__submit {
  margin-bottom: 35px;
  width: 278px;
}

.review__required {
  line-height: 30px;
  text-transform: uppercase;
}

.review__note {
  color: $color-font-accent;
}

.review__note-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .review__wrapper:nth-child(even) {
    background: $color-primary;
  }

  .review__wrapper:nth-child(1) {
    order: 1;
  }

  .review__wrapper:nth-child(2) {
    order: 4;
  }

  .review__wrapper:nth-child(3) {
    order: 3;
  }

  .review__wrapper:nth-child(4) {
    order: 2;
  }

  .review__wrapper:nth-child(5) {
    order: 5;
  }

  .review__header {
    padding: 95px 50px 73px;
    font-size: 18px;
    text-align: center;
  }

  .review__form-title {
    display: inline-block;
    font-size: 18px;
  }

  .review__set:not(.review__set--personal-info) {
    border: 2px solid $color-input-border;
  }

  .review__set {
    padding-right: 0;
    padding-left: 0;
  }

  .review__set--personal-info {
    padding: 0;
    margin-bottom: 55px;
  }

  .review__set--app {
    padding-top: 50px;
    padding-bottom: 60px;
    margin-bottom: 58px;
  }

  .review__set--contacts {
    padding-top: 37px;
    padding-bottom: 25px;
    margin-bottom: 56px;
  }

  .review__set--achivements {
    padding-top: 53px;
    margin-bottom: 55px;
  }

  .review__set--comment {
    padding: 35px 57px 50px;
    margin-bottom: 70px;
  }

  .review__menu-item {
    padding-left: 115px;
  }

  .review__block {
    align-items: center;
    flex-direction: row;
  }

  .review__block:not(:last-child) {
    margin-bottom: 52px;
  }

  .review__label {
    margin: 0;
    padding-left: 0;
    padding-right: 20px;
  }

  .review__label--contacts {
    padding-left: 20px;
  }

  .review__title {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 0;
  }

  .review__title--app {
    padding-top: 0;
    padding-bottom: 0;
  }

  .review__title--achivements {
    padding-top: 0;
  }

  .review__title--comment {
    padding-top: 0;
    padding-bottom: 0;
  }


  .review__title--contacts {
    display: flex;
  }

  .review__contact {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 55px 30px;
  }

  .review__contact:last-child {
    padding-bottom: 0;
  }

  .review__field--contacts {
    order: -1;
    margin-bottom: 10px;
  }

  .review__field {
    flex-grow: 1;
    padding-top: 23px;
  }

  .review__submit {
    width: 298px;
    margin-bottom: 0;
  }

  .review__required {
    margin-bottom: 0;
  }

  .review__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    width: 100%;
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .review__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  .review__header {
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 68px;
  }

  .review__wrapper:nth-child(1),
  .review__wrapper:nth-child(4) {
    width: 46.2%;
  }

  .review__wrapper:nth-child(2),
  .review__wrapper:nth-child(3),
  .review__wrapper:nth-child(5) {
    width: 100%;
  }

  .review__list--achivement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
  }

  .review__set--app {
    padding-top: 53px;
    padding-bottom: 60px;
    margin-bottom: 58px;
  }

  .review__set--contacts {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .review__set--achivements {
    padding-top: 50px;
    padding-bottom: 5px;
  }

  .review__set--comment {
    padding-bottom: 40px;
    margin-bottom: 65px;
  }

  .review__wrapper-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .review__contact {
    padding-bottom: 0;
    width: 46.5%;
  }

  .review__contact:first-child {
    padding-right: 0;
  }

  .review__contact:last-child {
    padding-left: 0;
  }

  .review__field--contacts {
    padding-top: 26px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    width: 100%;
  }

  .review__item--achivements {
    width: 33%;
  }

  /*
  .review__item--achivements:nth-child(3n +1) {
    width: 38%;
  }

  .review__item--achivements:nth-child(3n +2) {
    width: 33%;
  }

  .review__item--achivements:nth-child(3n +3) {
    width: 27%;
  }
  */

  .review__item--achivements:last-child {
    margin-bottom: 57px;
  }

  .review__menu-item {
    padding-left: 56px;
  }

  .review__menu-item--app {
    padding-left: 135px;
  }

  .review__content {
    height: 130px;
  }

  .review__note-desktop {
    display: inline-block;
  }
}
