.review__header {
  width: $mobile-width;
  padding: 45px 20px 35px;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
}

.review__form-title {
  display: none;
}

.review__set-wrapper {
  @include wrapper($mobile-width);
  justify-content: flex-start;
  padding-left: $padding-side;
  padding-right: $padding-side;

  &:nth-child(even) {
    background: $color-bg-form;
  }
}

.review__set {
  padding: 0;
  margin: 0;
  border: none;

  &--personal-info {
    padding-bottom: 40px;
  }

  &--achivements {
    padding-bottom: 50px;
  }

  &--contacts {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &--app {
    padding-bottom: 50px;
  }

  &--comment {
    padding-bottom: 45px;
  }
}

.review__title {
  @include review-title;
  padding-left: 20px;
  padding-right: 20px;

  &--contacts {
    display: none;
  }

  &--achivements {
    padding-top: 40px;
    margin-bottom: 45px;
  }

  &--app {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &--comment {
    padding-top: 40px;
    padding-bottom: 15px;
  }
}

.review__block {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}


.review__contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;

  &:last-child {
    padding-bottom: 0;
  }
}

.review__list {
  @include lt-st-reset;
}

.review__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 57px;
  }
}

.review__item-app:not(:last-child) {
  margin-bottom: 50px;
}

.review__item-app {
  width: 100%;
}

.review__menu-item {
  position: relative;
  padding-left: 66px;
  font-size: 18px;
}

.review__label {
  padding-left: 20px;
  color: $color-font-accent;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 5px;
}

.review__field,
.review__content {
  width: 100%;
  border: 2px solid $color-input-border;

  @include placeholder {
    color: $color-secondary;
    font-size: 18px;
    font-weight: 400;
  }
}

.review__field {
  padding: 25px 20px 20px;
}

.review__content {
  padding: 20px 20px;
}

.review__mark {
  display: none;
}

.review__footer {
  @include wrapper($mobile-width);
  padding-left: $padding-side;
  padding-right: $padding-side;
  align-items: center;
  padding-bottom: 15px;
}

.review__submit {
  margin-bottom: 35px;
  width: 278px;
}

.review__required {
  line-height: 30px;
  text-transform: uppercase;
}

.review__note {
  color: $color-font-accent;
}

.review__note-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .review__header {
    width: $tablet-width;
    padding: 95px 50px 73px;
    font-size: 18px;
    text-align: center;
  }

  .review__form {
    display: flex;
    flex-direction: column;
  }

  .review__set-wrapper {
    @include wrapper($tablet-width);

    &:nth-child(even) {
      background: $color-primary;
    }

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 3;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 5;
    }
  }

  .review__form-title {
    display: inline-block;
    font-size: 18px;
  }

  .review__set:not(.review__set--personal-info) {
    border: 2px solid $color-input-border;
  }

  .review__set {
    padding-right: 0;
    padding-left: 0;

    &--personal-info {
      padding: 0;
      margin-bottom: 55px;
    }

    &--app {
      padding-top: 50px;
      padding-bottom: 60px;
      margin-bottom: 58px;
    }

    &--contacts {
      padding-top: 37px;
      padding-bottom: 25px;
      margin-bottom: 56px;
    }

    &--achivements {
      padding-top: 53px;
      padding-bottom: 55px;
      margin-bottom: 55px;
    }

    &--comment {
      padding: 35px 57px 50px;
      margin-bottom: 60px;
    }
  }

  .review__menu-item {
    padding-left: 115px;
  }

  .review__block {
    align-items: center;
    flex-direction: row;

    &:not(:last-child) {
      margin-bottom: 55px;
    }
  }

  .review__label {
    margin: 0;
    padding-left: 0;
    padding-right: 20px;

    &--contacts {
      padding-left: 20px;
    }
  }

  .review__title {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 0;

    &--app {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--achivements {
      padding-top: 0;
    }

    &--comment {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--contacts {
      display: flex;
    }
  }

  .review__contact {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 55px 30px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .review__field--contacts {
    order: -1;
    margin-bottom: 10px;
  }

  .review__field {
    flex-grow: 1;
    padding-top: 23px;
  }

  .review__submit {
    width: 298px;
    margin-bottom: 0;
  }

  .review__required {
    margin-bottom: 0;
  }

  .review__footer {
    @include wrapper($tablet-width);
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .review__form-wrapper {
    @include wrapper($desktop-width);
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;
  }

  .review__set-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .review__header {
    width: $desktop-width;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 68px;
  }

  .review__set-wrapper:nth-child(1),
  .review__set-wrapper:nth-child(4) {
    width: 435px;
  }

  .review__set-wrapper:nth-child(2),
  .review__set-wrapper:nth-child(3),
  .review__set-wrapper:nth-child(5) {
    width: 940px;
  }

  .review__list--achivement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
  }

  .review__item {
    &--achivements {
      width: 260px;
    }

    &--achivements:nth-child(1) {
      order: 1;
    }

    &--achivements:nth-child(2) {
      order: 4;
    }

    &--achivements:nth-child(3) {
      order: 2;
    }

    &--achivements:nth-child(4) {
      order: 5;
    }

    &--achivements:nth-child(5) {
      order: 3;
    }

    &--achivements:nth-child(6) {
      order: 6;
    }

    &--achivements:last-child {
      margin-bottom: 57px;
    }
  }

  .review__set {
    &--app {
      padding-top: 50px;
      padding-bottom: 62px;
      margin-bottom: 57px;
    }

    &--contacts {
      padding-top: 32px;
      padding-bottom: 15px;
      margin-bottom: 54px;
    }

    &--achivements {
      padding-top: 50px;
      padding-bottom: 5px;
    }

    &--comment {
      padding-bottom: 40px;
      margin-bottom: 65px;
    }
  }

  .review__block:not(:last-child) {
    margin-bottom: 51px;
  }

  .review__wrapper-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .review__contact {
    padding-bottom: 0;

    &:first-child {
      padding-right: 0;
    }

    &:last-child {
      padding-left: 0;
    }
  }

  .review__field--contacts {
    padding-top: 26px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    width: 375px;
  }

  .review__menu-item {
    padding-left: 56px;

    &--app {
      padding-left: 135px;
    }
  }

  .review__content {
    height: 130px;
  }

  .review__note-desktop {
    display: inline-block;
  }

  .review__footer {
    @include wrapper($desktop-width);
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}
