.slogan {
  @include wrapper($mobile-width);
  padding: 40px 50px 63px;
  text-align: center;
}

.slogan__text {
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: $color-secondary;
  font-size: 24px;
  line-height: 30px;

  &:nth-child(1) {
    margin-bottom: 30px;
  }
}


@media (min-width: $tablet-width) {
  .slogan {
    @include wrapper($tablet-width);
    padding: 47px $padding-side 95px;
  }

  .slogan__text {
    font-size: 40px;
    line-height: 50px;

    &:nth-child(1) {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      padding-right: 60px;
      padding-left: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .slogan {
    @include wrapper($desktop-width);
    padding: 65px $padding-side-desktop 175px;
  }

  .slogan__text {
    font-size: 50px;
    line-height: 60px;

    &:nth-child(2) {
      padding-right: 230px;
      padding-left: 230px;
    }
  }
}
