.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: $temporary;
}

.social__icon {
  width: 52px;
  height: 52px;
  background: blue;
}

.social__icon:not(:last-child) {
  margin-right: 11px;
}
