.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  fill: $color-font-accent;
  border: 3px solid $color-social-border;
  border-radius: 50%;

  &:hover {
    border-color: $color-secondary;
  }

  &:active {
    border-color: $color-secondary;
    opacity: 0.3;
  }
}

.social__icon:not(:last-child) {
  margin-right: 11px;
}
