.upload-photo {
  @include wrapper($mobile-width);
  padding-left: $padding-side;
  padding-right: $padding-side;
}

.upload-photo__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.upload-photo__preview {
  margin-bottom: 35px;
}

.upload-photo__img {
  width: 280px;
  height: auto;
}

.upload-photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.upload-photo__wrapper-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 1px solid $color-form-border;
}

.upload-photo__filter {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.upload-photo__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload-photo__submit {
  width: 280px;
  border: 3px solid $color-font-accent;
  color: $color-font-accent;
  margin-bottom: 12px;

  &:hover {
    background-color: $color-font-accent;
    color: $color-primary;
  }

  &:active span {
    opacity: 0.3;
  }
}

.upload-photo__cancel {
  width: 280px;
  border: 3px solid $color-btn-reset;
  color: $color-btn-reset;

  &:hover {
    border-color: $color-toggle;
    color: $color-toggle;
  }

  &:active {
    background: $color-toggle;
    color: $color-cancel;
  }
}

@media (min-width: $tablet-width) {
  .upload-photo {
    @include wrapper($tablet-width);
    background: $color-bg-form;
  }

  .upload-photo__form {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .upload-photo__preview {
    margin-bottom: 0;
  }

  .upload-photo__img {
    width: 300px;
    height: 400px;
  }

  .upload-photo__image-wrapper {
    margin: 0;
  }

  .upload-photo__wrapper {
    height: 400px;
    width: 275px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .upload-photo__wrapper-effect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    border-bottom: none;
  }

  .upload-photo__effects {
    margin-bottom: 0;
  }

  .upload-photo__submit {
    margin-bottom: 25px;
  }

  .upload-photo__submit,
  .upload-photo__cancel {
    width: 260px;
  }
}

@media (min-width: $desktop-width) {
  .upload-photo {
    @include wrapper($desktop-width);
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;
    background: none;
  }

  .upload-photo__wrapper {
    width: 410px;
  }

  .upload-photo__form {
    padding: 54px 60px 57px 80px;
    background: $color-bg-form;
  }

  .upload-photo__controls {
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
  }

  .upload-photo__submit {
    width: 183px;
    margin-bottom: 0;
  }

  .upload-photo__cancel {
    width: 183px;
  }
}
