.upload-photo-form {
  padding: 20px 20px 41px 18px;
  background: darken($color-primary, 5.1);
  border: $temporary;
}

.controls__submit {
  width: 280px;
  border: 3px solid $color-font-accent;
  color: $color-font-accent;
}

.controls__cancel {
  width: 280px;
  border: 3px solid $color-btn-reset;
  color: $color-btn-reset;
}
