$color-primary: #ffffff;
$color-secondary: #283645;
$color-dark: rgba(0, 0, 0, 1);
$color-header: rgba(0, 0, 0, 0.3);
$color-font-accent: #d22856;
$color-bg-download: #1d2631;
$color-nav-border: #485461;
$color-input-border: #e5e5e5;
$color-toggle: #b5b9be;
$color-btn-reset: rgba(0, 0, 0, 0.1);
$color-bg-button: #2aab6d;
$font-family: "Open Sans", "Helvetica", "Arial", "Verdana", "Tahoma", sans-serif;
$temporary: 2px solid red;

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;

$height-top: 110px;
$height-top-mobile: 66px;

$padding-side-desktop: 130px;
$padding-side: 20px;
