@import "abstracts/_variables.scss";
@import "abstracts/_dif.scss";
@import "abstracts/_mixins.scss";
@import "base/_typography.scss";
@import "components/_trigger.scss";
@import "components/_slider-toggles.scss";
@import "components/_slider.scss";
@import "components/_buttons.scss";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $font-family, "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color-3;
  background-color: $color-1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


@import "blocks/_page-header.scss";
@import "blocks/_navigation.scss";
@import "blocks/_downloads.scss";
@import "blocks/_advantages.scss";
@import "blocks/_index-content.scss";
@import "blocks/_slogan.scss";
@import "blocks/_comments.scss";
@import "blocks/_plans.scss";
@import "blocks/_footer-index.scss";
@import "blocks/_contacts.scss";
@import "blocks/_map.scss";
@import "blocks/_page-content.scss";
@import "blocks/_form-page.scss";
@import "blocks/_review.scss";
@import "blocks/_personal-info.scss";
@import "blocks/_achivements.scss";
@import "blocks/_comment.scss";
@import "blocks/_user-info.scss";
@import "blocks/_app.scss";
@import "blocks/_footer.scss";
@import "blocks/_social.scss";
@import "blocks/_copyright.scss";
@import "blocks/_photo-content.scss";
@import "blocks/_gallery.scss";
@import "blocks/_gallery-card.scss";
@import "blocks/_upload-photo-form.scss";
@import "blocks/_effects.scss";
@import "blocks/_filter.scss";
@import "blocks/_controls.scss";
@import "blocks/_modal.scss";
